/* Page features */
.features-section {
  width: 100%;
  background-color: #ffffff;
}

.features-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 2rem 1rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

/* Title */
.features-title {
  font-size: 2.6rem;
  font-weight: 800;
  color: #002E52;
}

.features-title span {
  color: #FDCB46;
  /* highlight Excel */
}

.features-subtitle {
  font-size: 1rem;
  color: #6c7a90;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
}

/* features cards grid */
.features-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.8rem;
}

/* Individual card */
.features-card {
  background: #fff;
  padding: 1.8rem;
  border-radius: 18px;
  text-align: left;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  transition: 0.3s ease;
}

.features-card:hover {
  transform: translateY(-6px);
  box-shadow: 0px 6px 22px rgba(0, 0, 0, 0.13);
}

/* Icons */
.features-icon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 28px;
  margin-bottom: 0.8rem;
}

/* Alternating icon background colors - Yellow for odd, Dark blue for even */
.features-card:nth-child(odd) .features-icon {
  background-color: #F3F3F3;
  color: #FDCB46;
}

.features-card:nth-child(even) .features-icon {
  background-color: #F3F3F3;
  color: #002E52;
}

.features-card h3 {
  font-size: 1.1rem;
  font-weight: 700;
  color: #0a1a33;
}

.features-card p {
  font-size: 0.88rem;
  color: #4e5d74;
  line-height: 1.4rem;
}


@media (max-width: 850px) {
  .features-grid {
    grid-template-columns: 1fr;
  }

  .features-card {
    text-align: center;
    align-items: center;
  }

  .features-card p {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .features-title {
    font-size: 2rem;
  }

  .features-subtitle {
    font-size: 0.9rem;
  }

  .features-card {
    padding: 1.4rem;
  }

  .features-icon {
    width: 50px;
    height: 50px;
    font-size: 24px;
  }
}